/*
* Game component styles
*/

.game {
  margin-bottom: 20px;

  .game__row {
    clear: both;
    display: table;
    margin: auto;
  }

  .game__shot {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
  }

  .game__shot-miss {
    background-image: url('../../../../../../assets/images/Miss.png');
  }

  .game__shot-hit {
    background-image: url('../../../../../../assets/images/Hit.png');
  }

  .game__cell {
    border: 1px solid #979797;
    float: left;
    width: 29px;
    height: 29px;
  }

  /*
    Game cell size for < 520 < 920 < 1200
   */

  @media (min-width: 530px) {
    .game__cell {
      width: 50px;
      height: 50px;
    }
  }

  @media (min-width: 1200px) {
    .game__cell {
      width: 70px;
      height: 70px;
    }
  }
}
