.sidebar {
  .playerInfo {
    .playerInfo__display {
      padding: 1rem;
      text-align: center;

      &.playerInfo__display-1 {
        background: #ffb000;
      }

      &.playerInfo__display-2 {
        background: #25b79f;
      }
    }

    .playerInfo__score {
      font-size: 2rem;
    }
  }

  .assetInfo {
    margin: 20px 0;

    .assetInfo__ship {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 35px;

      &.assetInfo__ship-battleship {
        background-image: url('../../../../../../assets/images/Aircraft Shape.png');
      }
      &.assetInfo__ship-destroyer {
        background-image: url('../../../../../../assets/images/Battleship Shape.png');
      }
      &.assetInfo__ship-carrier {
        background-image: url('../../../../../../assets/images/Carrier Shape.png');
      }
      &.assetInfo__ship-cruiser {
        background-image: url('../../../../../../assets/images/Cruiser Shape.png');
      }
      &.assetInfo__ship-submarine {
        background-image: url('../../../../../../assets/images/Submarine Shape.png');
      }
    }

    .assetInfo__stats {
      padding: 12px;

      .assetInfo__stat {
        display: inline-block;
        background-size: cover;
        width: 18px;
        height: 18px;
        padding: 10px;

        &.assetInfo__stat-miss {
          background-image: url('../../../../../../assets/images/Miss small.png');
        }

        &.assetInfo__stat-hit {
          background-image: url('../../../../../../assets/images/Hit small.png');
        }
      }
    }
  }
}

